// base file for variables and foundation settings //

$white: #fff;
$black: #333;
$sans-serif: 'Sintony', sans-serif;;
$serif: 'Alegreya SC', serif;

$primary-color: #9AAC49; // green
$secondary-color: #6B655C; // brown
$alert-color: #EB6477; // pink
$success-color: #EDE0CD; // tan 

$body-bg: $success-color;
$body-font-color: #595958;
$body-font-family: $sans-serif; //"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$body-font-weight: normal;
$body-font-style: normal;

// TYPOGRAPHY

h1, h2, h3, h4 {
	font-family: $serif;
	color: $primary-color;
	font-weight: 100;
	margin: 0.5rem 0;
}

body {
	background: $body-bg;
	font-family: $body-font-family;
}

.module {
	background: $white;
	padding: 0.5em;
	h1, h2, h3, h4 {
		margin: 0;
	}
}

.btn-success {
	background: $primary-color;
	&:hover {
		background: darken($primary-color, 10);
	}
}