# BEGIN GZIP
<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
</ifmodule>
# END GZIP

# ------------------------------------------------------------------------------
# | Custom error messages / pages                                              |
# ------------------------------------------------------------------------------

# You can customize what Apache returns to the client in case of an error (see
# http://httpd.apache.org/docs/current/mod/core.html#errordocument), e.g.:

ErrorDocument 404 /404.php


# Block access to hidden files and directories.
# This includes directories used by version control systems such as Git and SVN.

<IfModule mod_rewrite.c>
    RewriteCond %{SCRIPT_FILENAME} -d [OR]
    RewriteCond %{SCRIPT_FILENAME} -f
    RewriteRule "(^|/)\." - [F]
</IfModule>

# ##############################################################################
# # WEB PERFORMANCE                                                            #
# ##############################################################################

# ------------------------------------------------------------------------------
# | Compression                                                                |
# ------------------------------------------------------------------------------

<IfModule mod_deflate.c>

    # Force compression for mangled headers.
    # http://developer.yahoo.com/blogs/ydn/posts/2010/12/pushing-beyond-gzipping
    <IfModule mod_setenvif.c>
        <IfModule mod_headers.c>
            SetEnvIfNoCase ^(Accept-EncodXng|X-cept-Encoding|X{15}|~{15}|-{15})$ ^((gzip|deflate)\s*,?\s*)+|[X~-]{4,13}$ HAVE_Accept-Encoding
            RequestHeader append Accept-Encoding "gzip,deflate" env=HAVE_Accept-Encoding
        </IfModule>
    </IfModule>

    # Compress all output labeled with one of the following MIME-types
    # (for Apache versions below 2.3.7, you don't need to enable `mod_filter`
    #  and can remove the `<IfModule mod_filter.c>` and `</IfModule>` lines
    #  as `AddOutputFilterByType` is still in the core directives).
    <IfModule mod_filter.c>
        AddOutputFilterByType DEFLATE application/atom+xml \
                                      application/javascript \
                                      application/json \
                                      application/rss+xml \
                                      application/vnd.ms-fontobject \
                                      application/x-font-ttf \
                                      application/x-web-app-manifest+json \
                                      application/xhtml+xml \
                                      application/xml \
                                      font/opentype \
                                      image/svg+xml \
                                      image/x-icon \
                                      text/css \
                                      text/html \
                                      text/plain \
                                      text/x-component \
                                      text/xml
    </IfModule>

</IfModule>

# ##############################################################################
# # Rewrite Rules                                                              #
# ##############################################################################

Options +FollowSymLinks
RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^store$ ./store.php
RewriteRule ^store/$ ./store.php

RewriteRule ^store/categories$ ./categories.php
RewriteRule ^store/categories/$ ./categories.php

RewriteRule ^store/category/thanksgiving-decorations$ ./category.php?id=6515126 
RewriteRule ^store/category/thanksgiving-decorations/$ ./category.php?id=6515126

RewriteRule ^store/category/halloween-decorations$ ./category.php?id=6634210
RewriteRule ^store/category/halloween-decorations/$ ./category.php?id=6634210

RewriteRule ^store/category/floral-decor$ ./category.php?id=6515165
RewriteRule ^store/category/floral-decor/$ ./category.php?id=6515165

RewriteRule ^store/category/general-deals$ ./category.php?id=6515127
RewriteRule ^store/category/general-deals/$ ./category.php?id=6515127

RewriteRule ^store/category/christmas-decorations$ ./category.php?id=6515114
RewriteRule ^store/category/christmas-decorations/$ ./category.php?id=6515114

RewriteRule ^about$ ./about.php
RewriteRule ^about/$ ./about.php

RewriteRule ^contact$ ./contact.php
RewriteRule ^contact/$ ./contact.php

RewriteRule ^contactthanks$ ./contactthanks.php
RewriteRule ^contactthanks/$ ./contactthanks.php